<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <!-- Extra space in shiny but not html <div class = "container"> -->
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome!</h1>
            <p>CWAS is a tool for visualizing geographic and demographic trends associated with your data or U.S. Census data.</p>
            <p><a class="btn btn-primary btn-large">Try it out!</a>
            </p>
        </header>

        <hr>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <!-- Image must be in www directory -->
                    <img src="map.png" alt="" />
                    <div class="caption">
                        <h3>Plot Choropleth Maps</h3>
                        <p>Upload your own data or try out zipcode, county level and state level plots of US Census data.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="table.png" alt="">
                    <div class="caption">
                        <h3>View statistic tables</h3>
                        <p>Apply the binomial-exact, chi-squared, two-proportion or percent difference tests.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="icd9.png" alt="">
                    <div class="caption">
                        <h3>View ICD9 Rates</h3>
                        <p>Get ICD9 rates normalized to population.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div id="row">
                <p>Maintained by <a href="http://github.com/dfan97">David Fan</a> 
                    at the <a href="http://dbmi.hms.harvard.edu">Department of Biomedical Informatics</a> of Harvard Medical School.</p>
            </div>       
        </footer>

   <!-- Extra space in shiny but not html  </div> -->
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
